:root {
    /* main colors */
    color-scheme: light dark;
    --flair-primary-color-hue: 212;
    --flair-primary-color-saturation: 71%;
    --flair-primary-color-lightness: 45%;
    --flair-primary-color: light-dark(
        hsl(
            var(--flair-primary-color-hue),
            var(--flair-primary-color-saturation),
            var(--flair-primary-color-lightness)
        ),
        hsl(
            var(--flair-primary-color-hue),
            var(--flair-primary-color-saturation),
            calc(100% - var(--flair-primary-color-lightness))
        )
    );
    --flair-secondary-color-hue: 32;
    --flair-secondary-color-saturation: 25%;
    --flair-secondary-color-lightness: 65%;
    --flair-secondary-color: light-dark(
        hsl(
            var(--flair-secondary-color-hue),
            var(--flair-secondary-color-saturation),
            var(--flair-secondary-color-lightness)
        ),
        hsl(
            var(--flair-secondary-color-hue),
            var(--flair-secondary-color-saturation),
            calc(100% - var(--flair-secondary-color-lightness))
        )
    );
    --flair-default-color-hue: var(--flair-primary-color-hue);
    --flair-default-color-saturation: 25%;
    --flair-default-color-lightness: 85%;
    --flair-default-color: light-dark(
        hsl(
            var(--flair-default-color-hue),
            var(--flair-default-color-saturation),
            var(--flair-default-color-lightness)
        ),
        hsl(
            var(--flair-default-color-hue),
            var(--flair-default-color-saturation),
            calc(100% - var(--flair-default-color-lightness))
        )
    );
    --flair-font-color-hue: var(--flair-primary-color-hue);
    --flair-font-color-saturation: 25%;
    --flair-font-color-lightness: 25%;
    --flair-font-color: light-dark(
        hsl(
            var(--flair-font-color-hue),
            var(--flair-font-color-saturation),
            var(--flair-font-color-lightness)
        ),
        hsl(
            var(--flair-font-color-hue),
            var(--flair-font-color-saturation),
            calc(100% - var(--flair-font-color-lightness))
        )
    );
    --flair-background-color-lightness: 100%;
    --flair-background-color: light-dark(
        hsl(0, 0%, var(--flair-background-color-lightness)),
        hsl(0, 0%, calc(100% - var(--flair-background-color-lightness)))
    );

    /* typography */
    --flair-font-family: 'Segoe UI', Verdana, sans-serif;
    --flair-font-size: 16px;
    --flair-font-weight: 400;
    --flair-line-height: 1.2;
    --flair-typography-spacing-vertical: 1rem;

    /* elements */
    --flair-element-border-color: var(--flair-default-color);
    --flair-element-background-color-lightness: 99%;
    --flair-element-background-color: light-dark(
        hsl(0, 0%, var(--flair-element-background-color-lightness)),
        hsl(0, 0%, calc(100% - var(--flair-element-background-color-lightness)))
    );
    --flair-border-radius: 0.25rem;
    --flair-element-spacing-vertical: 0.75rem;
    --flair-element-spacing-horizontal: 1rem;
    --flair-element-spacing-horizontal-semi: calc(var(--flair-element-spacing-horizontal) * 1.25);
    --flair-element-spacing-horizontal-wide: calc(var(--flair-element-spacing-horizontal) * 1.75);
    --flair-element-box-shadow: 0 2px 12px 0 hsl(var(--flair-primary-color-hue), 10%, 90%);
    --flair-element-box-shadow-dark: 0 2px 12px 0 hsl(var(--flair-primary-color-hue), 10%, 10%);
    --flair-select-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(180, 1%, 25%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    --flair-select-chevron-spacing-left: 1rem;
    --flair-checkbox-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --flair-header-padding: var(--flair-element-spacing-vertical) 0;
    --flair-header-background-color: var(--flair-background-color);
    --flair-navbar-item-spacing: var(--flair-element-spacing-horizontal);

    /* calculated colors */
    --flair-primary-color-darkened: light-dark(
        hsl(
            var(--flair-primary-color-hue),
            var(--flair-primary-color-saturation),
            calc(var(--flair-primary-color-lightness) - 15%)
        ),
        hsl(
            var(--flair-primary-color-hue),
            var(--flair-primary-color-saturation),
            calc(100% - var(--flair-primary-color-lightness) + 15%)
        )
    );
    --flair-secondary-color-darkened: light-dark(
        hsl(
            var(--flair-secondary-color-hue),
            var(--flair-secondary-color-saturation),
            calc(var(--flair-secondary-color-lightness) - 15%)
        ),
        hsl(
            var(--flair-secondary-color-hue),
            var(--flair-secondary-color-saturation),
            calc(100% - var(--flair-secondary-color-lightness) + 15%)
        )
    );
    --flair-default-color-darkened: light-dark(
        hsl(
            var(--flair-default-color-hue),
            var(--flair-default-color-saturation),
            calc(var(--flair-default-color-lightness) - 15%)
        ),
        hsl(
            var(--flair-default-color-hue),
            var(--flair-default-color-saturation),
            calc(100% - var(--flair-default-color-lightness) + 15%)
        )
    );
    --flair-default-color-text: light-dark(
        hsl(
            var(--flair-default-color-hue),
            var(--flair-default-color-saturation),
            calc(var(--flair-default-color-lightness) - 20%)
        ),
        hsl(
            var(--flair-default-color-hue),
            var(--flair-default-color-saturation),
            calc(100% - var(--flair-default-color-lightness) + 20%)
        )
    );
    --flair-contrast-color-threshold: 70%;
    --flair-primary-contrast-color-switch: calc(
        (var(--flair-primary-color-lightness) - var(--flair-contrast-color-threshold)) * -100
    );
    --flair-primary-contrast-color: light-dark(
        hsl(0, 0%, calc(var(--flair-primary-contrast-color-switch))),
        hsl(0, 0%, calc(100% - var(--flair-primary-contrast-color-switch)))
    );
    --flair-secondary-contrast-color-switch: calc(
        (var(--flair-secondary-color-lightness) - var(--flair-contrast-color-threshold)) * -100
    );
    --flair-secondary-contrast-color: light-dark(
        hsl(0, 0%, calc(var(--flair-secondary-contrast-color-switch))),
        hsl(0, 0%, calc(100% - var(--flair-secondary-contrast-color-switch)))
    );

    /* calculated font sizes */
    --flair-h1-font-size: calc(var(--flair-font-size) * 2);
    --flair-h2-font-size: calc(var(--flair-font-size) * 1.75);
    --flair-h3-font-size: calc(var(--flair-font-size) * 1.5);
    --flair-h4-font-size: calc(var(--flair-font-size) * 1.25);
    --flair-h5-font-size: calc(var(--flair-font-size) * 1);
    --flair-h6-font-size: calc(var(--flair-font-size) * 1);
}

/* defaults */
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    font-family: var(--flair-font-family);
    font-size: var(--flair-font-size);
    color: var(--flair-font-color);
    line-height: var(--flair-line-height);
    box-sizing: border-box;
    margin: 0;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--flair-typography-spacing-vertical);
    margin-bottom: var(--flair-typography-spacing-vertical);
}
p {
    margin-bottom: var(--flair-typography-spacing-vertical);
}
h1 {
    font-size: var(--flair-h1-font-size);
}
h2 {
    font-size: var(--flair-h2-font-size);
}
h3 {
    font-size: var(--flair-h3-font-size);
}
h4 {
    font-size: var(--flair-h4-font-size);
}
h5 {
    font-size: var(--flair-h5-font-size);
}
h6 {
    font-size: var(--flair-h6-font-size);
}

/* links */
a {
    color: var(--flair-default-color-text);
    text-decoration: underline;
    text-decoration-color: var(--flair-default-color);
}
a:hover,
a:active {
    color: var(--flair-default-color-text);
    text-decoration-color: var(--flair-default-color-text);
}
a.primary {
    color: var(--flair-primary-color);
}
a.primary:hover,
a.primary:active {
    color: var(--flair-primary-color-darkened);
    text-decoration-color: var(--flair-primary-color-darkened);
}
a.secondary {
    color: var(--flair-secondary-color);
}
a.secondary:hover,
a.secondary:active {
    color: var(--flair-secondary-color-darkened);
    text-decoration-color: var(--flair-secondary-color-darkened);
}
a.link-button,
a.link-button:hover,
a.link-button:active {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

/* buttons */
button:not([disabled]) {
    cursor: pointer;
}
button,
a.link-button {
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal-wide);
    border-radius: var(--flair-border-radius);
    background-color: var(--flair-default-color);
    border: 1px solid var(--flair-default-color);
}
button:not([disabled]):hover,
a.link-button:not([disabled]):hover {
    background-color: var(--flair-default-color-darkened);
}
button.primary,
a.link-button.primary {
    background-color: var(--flair-primary-color);
    color: var(--flair-primary-contrast-color);
    border: 1px solid var(--flair-primary-color);
}
button.primary:not([disabled]):hover,
a.link-button.primary:not([disabled]):hover {
    background-color: var(--flair-primary-color-darkened);
}
button.secondary,
a.link-button.secondary {
    background-color: var(--flair-secondary-color);
    color: var(--flair-secondary-contrast-color);
    border: 1px solid var(--flair-secondary-color);
}
button.secondary:not([disabled]):hover,
a.link-button.secondary:not([disabled]):hover {
    background-color: var(--flair-secondary-color-darkened);
}
button.icon-button,
a.link-button.icon-button {
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal);
}
button > i,
a.link-button > i {
    color: inherit;
}

/* forms and inputs */
select,
textarea,
input:not(
        [type='submit'],
        [type='button'],
        [type='reset'],
        [type='range'],
        [type='file'],
        [type='checkbox']
    ) {
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal);
    background-color: var(--flair-element-background-color);
    border-radius: var(--flair-border-radius);
    border: 1px solid var(--flair-element-border-color);
    outline: none;
}
select,
input:not(
        [type='submit'],
        [type='button'],
        [type='reset'],
        [type='range'],
        [type='file'],
        [type='checkbox']
    ) {
    height: calc(
        calc(1rem * var(--flair-line-height)) + calc(2 * var(--flair-element-spacing-vertical)) +
            2px
    );
}
:where(select, textarea):not([readonly]):focus,
input:not(
        [type='submit'],
        [type='button'],
        [type='reset'],
        [type='range'],
        [type='file'],
        [readonly]
    ):focus {
    border: 1px solid var(--flair-primary-color);
    box-shadow: inset 0 0 0 1px var(--flair-primary-color);
}
form > select,
form > textarea,
form
    > input:not(
        [type='submit'],
        [type='button'],
        [type='reset'],
        [type='range'],
        [type='file'],
        [type='checkbox']
    ) {
    width: 100%;
    margin-bottom: var(--flair-element-spacing-vertical);
}
form > label {
    font-weight: calc(var(--flair-font-weight) - 100);
    display: block;
    margin-bottom: calc(var(--flair-element-spacing-vertical) / 2);
}
select:not([multiple], [size]) {
    appearance: none;
    background-image: var(--flair-select-chevron-down);
    background-position: center right var(--flair-select-chevron-spacing-left);
    background-size: 1rem auto;
    background-repeat: no-repeat;
}
input[type='color'] {
    padding: calc(var(--flair-element-spacing-vertical) / 2)
        calc(var(--flair-element-spacing-horizontal) / 2);
}
input[type='color'].color-box,
input[type='color'].color-box:focus {
    width: 2.25rem;
    height: 2rem;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
}

/* checkbox */
input[type='checkbox'] {
    border: 1px solid var(--flair-element-border-color);
    accent-color: var(--flair-primary-color);
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.25rem;
    margin-inline-end: 0.5rem;
    vertical-align: middle;
    cursor: pointer;
    border-radius: var(--flair-border-radius);
}
input[type='checkbox']:checked,
input[type='checkbox']:checked:active,
input[type='checkbox']:checked:focus {
    background-color: var(--flair-primary-color);
    border-color: var(--flair-primary-color);
    background-image: var(--flair-checkbox-icon);
    background-position: center;
    background-size: 0.75rem auto;
    background-repeat: no-repeat;
}
label:has(input[type='checkbox']) {
    margin-bottom: calc(var(--flair-element-spacing-vertical) / 2);
}
textarea {
    max-width: 100%;
}

/* disabled */
*:disabled,
*[readonly] {
    opacity: 0.5;
}

/* horizontal ruler */
hr {
    height: 0;
    border: 0;
    border-top: 1px solid var(--flair-element-border-color);
    color: inherit;
}

/* navbar */
header {
    top: 0;
    position: sticky;
    z-index: 1000;
    padding: var(--flair-header-padding);
    background-color: var(--flair-header-background-color);
    box-shadow: var(--flair-element-box-shadow);
    @media (prefers-color-scheme: dark) {
        box-shadow: var(--flair-element-box-shadow-dark);
    }
}
nav.navbar .navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.navbar .navbar-brand {
    display: inline-block;
}
nav.navbar .navbar-brand > img {
    max-height: 3rem;
    margin-right: var(--flair-element-spacing-horizontal);
}
nav.navbar,
nav.navbar .navbar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-item {
    margin: 0 var(--flair-navbar-item-spacing);
    display: block;
}
.navbar-item:last-child {
    margin-right: 0;
}
a.navbar-item,
a.navbar-item:active {
    text-decoration: none;
}
a.navbar-item:hover {
    text-decoration: underline;
}
div.navbar-burger {
    display: none;
}
nav.navbar > #navbar-toggler {
    display: none;
}

/* responsive navbar */
@media (max-width: 1024px) {
    nav.navbar,
    nav.navbar .navbar-navigation {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
    nav.navbar .navbar-navigation {
        margin-top: var(--flair-element-spacing-vertical);
    }
    .navbar-item {
        margin: var(--flair-navbar-item-spacing) var(--flair-element-spacing-horizontal);
        display: block;
    }
    .navbar-item:last-child {
        margin-right: var(--flair-element-spacing-horizontal);
    }
    div.navbar-burger {
        display: flex;
    }
    div.navbar-burger > label {
        display: inline-block;
        width: 50px;
        height: 48px;
        padding: 13px;
        border-radius: var(--flair-border-radius);
    }
    div.navbar-burger > label:hover,
    .nav #navbar-toggler:checked ~ div.navbar-burger > label {
        background-color: var(--flair-default-color);
    }
    div.navbar-burger > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--flair-default-color-text);
    }
    nav.navbar > #navbar-toggler:not(:checked) ~ .navbar-navigation {
        display: none;
    }
    nav.navbar > #navbar-toggler:checked ~ .navbar-navigation {
        display: flex;
    }
}

/* card */
.card {
    margin-bottom: var(--flair-element-spacing-vertical);
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal-semi);
    background: var(--flair-background-color);
    border-radius: var(--flair-border-radius);
    box-shadow: var(--flair-element-box-shadow);
    @media (prefers-color-scheme: dark) {
        box-shadow: var(--flair-element-box-shadow-dark);
    }
}
.card-header,
.card-footer {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--flair-element-spacing-horizontal-semi) * -1);
    margin-right: calc(var(--flair-element-spacing-horizontal-semi) * -1);
    padding: calc(var(--flair-element-spacing-vertical))
        var(--flair-element-spacing-horizontal-semi);
    background-color: var(--flair-element-background-color);
    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: calc(var(--flair-element-spacing-vertical) / 2);
        margin-bottom: calc(var(--flair-element-spacing-vertical) / 3);
    }
}
.card-header {
    margin-top: calc(var(--flair-element-spacing-vertical) * -1);
    margin-bottom: var(--flair-element-spacing-vertical);
    border-top-right-radius: var(--flair-border-radius);
    border-top-left-radius: var(--flair-border-radius);
    border-bottom: 1px solid var(--flair-element-border-color);
}
.card-footer {
    margin-top: var(--flair-element-spacing-vertical);
    margin-bottom: calc(var(--flair-element-spacing-vertical) * -1);
    border-bottom-right-radius: var(--flair-border-radius);
    border-bottom-left-radius: var(--flair-border-radius);
    border-top: 1px solid var(--flair-element-border-color);
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--flair-element-spacing-vertical);
    background-color: var(--flair-background-color);
    border-radius: var(--flair-border-radius);
    color: var(--flair-font-color);
    overflow: hidden;
}
table th,
table td {
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal);
    text-align: left;
    border-bottom: 1px solid var(--flair-element-border-color);
}
table th {
    font-weight: calc(var(--flair-font-weight) + 100);
}
table tr:last-child td {
    border-bottom: none;
}
table tr:not(.bg-primary, .bg-secondary, .bg-light, .bg-dark):hover,
table.striped tr:nth-child(even):not(.bg-primary, .bg-secondary, .bg-light, .bg-dark):hover {
    background-color: var(--flair-default-color);
}
table.striped th {
    background-color: var(--flair-element-background-color);
}
table.striped tr:nth-child(even) {
    background-color: var(--flair-element-background-color);
}

/* Badges */
.badge {
    display: inline-block;
    padding: calc(var(--flair-element-spacing-vertical) / 4)
        calc(var(--flair-element-spacing-horizontal) / 2);
    font-size: calc(var(--flair-font-size) * 0.85);
    font-weight: calc(var(--flair-font-weight) + 100);
    text-align: center;
    border-radius: var(--flair-border-radius);
    color: var(--flair-primary-contrast-color);
    background-color: var(--flair-primary-color);
}
.badge.secondary {
    background-color: var(--flair-secondary-color);
    color: var(--flair-secondary-contrast-color);
}
.badge.light {
    background-color: var(--flair-default-color-text);
    color: inherit;
}
.badge.dark {
    background-color: var(--flair-primary-color-darkened);
    color: var(--flair-primary-contrast-color);
}

/* Accordion */
.accordion {
    overflow: hidden;
    margin-bottom: var(--flair-element-spacing-vertical);
    border-radius: var(--flair-border-radius);
    box-shadow: var(--flair-element-box-shadow);
    @media (prefers-color-scheme: dark) {
        box-shadow: var(--flair-element-box-shadow-dark);
    }
}
.accordion-item {
    border-bottom: 1px solid var(--flair-element-border-color);
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-header {
    background-color: var(--flair-element-background-color);
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal);
    line-height: calc(var(--flair-line-height) * 1.5);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-header:hover {
    background-color: var(--flair-element-background-color);
}
.accordion-header.active {
    background-color: var(--flair-element-background-color);
    border-bottom: 1px solid var(--flair-element-border-color);
    color: inherit;
    font-weight: calc(var(--flair-font-weight) + 100);
}
.accordion-header::after {
    content: '';
    width: 1rem;
    height: 1rem;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /%3E%3C/svg%3E")
        no-repeat center;
    background-color: var(--flair-font-color);
    transform: rotate(90deg);
    transition: transform 0.3s;
}
.accordion-header.active::after {
    transform: rotate(180deg);
}
.accordion-header > h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: calc(var(--flair-element-spacing-vertical) / 3);
    margin-bottom: calc(var(--flair-element-spacing-vertical) / 3);
}
.accordion-content {
    padding: var(--flair-element-spacing-vertical) var(--flair-element-spacing-horizontal);
    background-color: var(--flair-background-color);
    display: none;
}
.accordion-content.active {
    display: block;
}

/* container */
.container,
.container-fluid {
    min-width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--flair-element-spacing-horizontal) / 2);
    padding-left: calc(var(--flair-element-spacing-horizontal) / 2);
}
.container {
    @media (min-width: 576px) {
        max-width: 510px;
    }
    @media (min-width: 730px) {
        max-width: 700px;
    }
    @media (min-width: 1024px) {
        max-width: 950px;
    }
    @media (min-width: 1280px) {
        max-width: 1200px;
    }
    @media (min-width: 1536px) {
        max-width: 1450px;
    }
}

/* helpers */
.elevated {
    box-shadow: var(--flair-element-box-shadow);
    @media (prefers-color-scheme: dark) {
        box-shadow: var(--flair-element-box-shadow-dark);
    }
}
.text-capitalize {
    text-transform: capitalize;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.spacing-horizontal-narrow {
    display: flex;
    gap: calc(var(--flair-element-spacing-horizontal) / 2);
}
.spacing-horizontal {
    display: flex;
    gap: var(--flair-element-spacing-horizontal);
}
.justify-content-end {
    display: flex;
    justify-content: end;
}
.justify-content-start {
    display: flex;
    justify-content: start;
}
.bg-primary {
    background-color: var(--flair-primary-color);
    color: var(--flair-secondary-contrast-color);
    * {
        color: var(--flair-primary-contrast-color);
    }
}
.bg-secondary {
    background-color: var(--flair-secondary-color);
    color: var(--flair-secondary-contrast-color);
    * {
        color: var(--flair-secondary-contrast-color);
    }
}
.bg-light {
    background-color: var(--flair-default-color);
}
.bg-dark {
    background-color: var(--flair-primary-color-darkened);
    color: var(--flair-secondary-contrast-color);
    * {
        color: var(--flair-primary-contrast-color);
    }
}
.text-primary {
    color: var(--flair-primary-color);
}
.text-secondary {
    color: var(--flair-secondary-color);
}
.text-light {
    color: var(--flair-default-color-text);
}
.text-font {
    color: var(--flair-font-color);
}
