header {
    margin-bottom: 1rem;
}
.demo-section {
    margin-bottom: 2rem;
}
.grid-theming {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'l1 v1 .'
        'l2 v2 .';
}
.grid-theming-l1 {
    grid-area: l1;
    align-self: center;
}
.grid-theming-v1 {
    grid-area: v1;
    align-self: center;
}
.grid-theming-l2 {
    grid-area: l2;
    align-self: center;
}
.grid-theming-v2 {
    grid-area: v2;
    align-self: center;
}
